.HangmanResults {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  padding: 2rem 0;
  &__layout {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 0 0 0;
    @media (max-width: 1400px) {
      flex-direction: column;
    }
  }
  &__values {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-width: 400px;
  }
  &__solution {
    flex: 1;
    padding: 0 2rem;
    margin: 0 0 0 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    @media (max-width: 1400px) {
      padding: 2.25rem 0 3rem 0;
      margin: 3rem 0 0 0;
      border-left: none;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
    .MuiDivider-root {
      margin: 1.375rem 0 1rem 0;
    }
  }
  &__puzzle,
  &__incorrect {
    .MuiFilledInput-input {
      font-family: monospace;
      letter-spacing: 3px;
    }
  }
  &__puzzle {
    margin-bottom: 1rem;
  }
  &__info {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__stats {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .MuiTextField-root {
      flex: 1 1 175px;
      max-width: 200px;
      margin: 0 0 1rem 0;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  &__common {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .MuiChip-root {
      margin: 0 0.5rem 0.5rem 0;
      height: 2.5rem;
      border-radius: 1.25rem;
    }
    .MuiChip-label {
      padding: 0 1.5rem;
      font-size: 1rem;
    }
    .MuiSvgIcon-root {
      margin: 0 0.5rem 0.5rem 0;
    }
  }
  &__analysis {
    padding: 3rem 0;
  }
}