.WordLaddersPage {
  .WordLaddersHowToPlay {
    padding: 1rem 0 2rem 0;
  }
  &__game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 3rem;
    border-radius: 0.25rem;
    background-color: #dddddd;
    @media (max-width: 1300px) {
      flex-direction: column;
    }
  }
  &__spacer {
    width: 4rem;
    height: 1px;
    @media (max-width: 1300px) {
      width: 1px;
      height: 1.5rem;
    }
  }
  &__words {
    display: flex;
    flex-direction: column;
    align-items: center;
    .WordLaddersExcludedInput {
      margin-top: 2.75rem;
    }
  }
  &__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 0 0.5rem;
  }
  &__inputs {
    display: flex;
    align-items: center;
    .MuiButton-root {
      margin-left: 1rem;
    }
  }
  &__invalid {
    margin: 0 0 1.5rem 0;
    width: 350px;
  }
}
  